body {
  font-family: "Poppins", sans-serif;
  line-height: normal;
  letter-spacing: 4px;
  background-color: #14171b;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 96px;
  letter-spacing: -1.5px;
}
h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 48px;
  letter-spacing: 0px;
}
p {
  font-size: 1rem;
  letter-spacing: 0.5px;
}
span {
  font-size: 1rem;
  letter-spacing: 1.5px;
}
section {
  width: 100%;
  min-height: 100vh;
}
.section-1 {
  /* min-height: 90vh !important; */
  padding-top: 40px;
}
.section-bio-1 {
  padding-top: 40px;
}
.container {
  display: flex;
  flex: 1;
  flex-flow: column;
  padding-top: 40px;
  padding: 0 24px;
}
.nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.nav-link {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: lighter;
}
.nav-link-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 80px;
}
.white-text {
  color: white;
}
.nav-icon {
  margin-right: 12px;
}
.btn {
  display: flex;
  padding: 16px 32px;
  align-items: center;
}
.btn-outline {
  border: 2px solid #2bb2ff;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
}
.btn-outline:hover {
  background-color: #2bb2ff;
  color: white;
}
.active {
  font-weight: bold;
  color: white !important;
  border-bottom: 1px solid #2bb2ff !important;
}

.hero-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 264px;
  margin-top: 160px;
}
.social-media-icon {
  padding-right: 48px;
}
.dot-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 300px;
}
.dot {
  margin-top: 80px;
  margin-left: 120px;
}
.dot-container2 {
  position: absolute;
  right: 10vmax;
  top: 100vh;
}
.dot2 {
  margin-left: 80px;
}
.bi {
  margin-right: 48px;
  font-size: 1.5rem;
  color: white;
}
.bi:hover {
  color: #2bb2ff;
}
.hyperlink {
  color: #eaeaea;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.hyperlink:hover {
  border-bottom: 1px solid #fff;
}
.s-hero {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 32vw;
  z-index: -999;
}
.s-hero .gradient {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #14171b 50%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.4;
}
.about-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 16%;
}
.about-container > h3 {
  flex: 100%;
  font-weight: normal;
  text-align: start;
}
.about-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.about-content > img {
  height: 240px;
  width: 240px;
  border-radius: 40px;
  margin-right: 24px;
  background-size: cover;
  border: 2px solid white;
  box-sizing: border-box;
}
.about-text > p {
  font-size: 24px;
  letter-spacing: 0.5px;
  margin: 16px 0px;
}
.about-text > span {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.5px;
}

.scroll-down {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  transform: rotate(90deg);
  position: absolute;
  top: 95vh;
  left: 0;
}
.scroll-down > p {
  color: #666;
  padding-right: 12px;
}
.scroll-down > hr {
  border: 1px solid #2bb2ff;
  width: 200px;
  padding: 0;
  margin: 0;
}
.bio-content {
  margin-bottom: 80px;
}
.bio-header {
  text-align: center;
}
.bio-text-container {
  display: flex;
  padding: 0 240px 0 400px;
  flex-wrap: nowrap;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bio-text-container > .bio-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.bio-left,
.bio-separator,
.bio-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.bio-left > p,
.bio-separator > span,
.bio-right > p,
.bio-right > a > p {
  margin: 16px 0;
}

.bio-left > p,
.bio-separator > span,
.bio-right > p,
.bio-right > a > p {
  font-size: 24px;
}
.bio-text-container > .bio-separator {
  display: flex;
  flex: 0.2;
}
.bio-text-container > .bio-right {
  display: flex;
  flex: 2;
}
.vi {
  position: absolute;
}
.vi-small {
  left: 0;
  bottom: 80px;
  z-index: -999;
}
.vi-big {
  right: 0px;
  bottom: -80px;
  z-index: -999;
}

/* Portfolio */
.portfolio-container {
  display: flex;
  justify-content: space-between;
  padding: 56px 160px;
}
.portfolio-text {
  margin-top: 240px;
}
.portfolio-text > h1 {
  margin: 0;
  font-size: 72px;
}
.portfolio-text > h4 {
  margin: 0;
  color: #2bb2ff;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: normal;
}
.portfolio-text > p {
  margin: 0;
  font-size: 32px;
  letter-spacing: 1.5px;
  font-weight: normal;
}
.light > img {
  position: absolute;
  z-index: -999;
  right: 0;
  top: 0;
}
.skill-canvas {
  display: flex;
  flex-direction: column;
  background-color: #1f242a;
  margin-top: -60px;
  padding: 24px 160px;
  border-radius: 24px;
  margin-bottom: 120px;
}
.skill > ul > li > h3 {
  font-size: 24px;
}
/*  */

/* Hobby */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.picture {
  position: relative;
}
.picture > img,
.picture > a > img {
  margin: 12px;
}
.picture > p {
  text-align: center;
  font-size: 2rem;
}
/* .picture > a {
  transform: translate(0, 0) scale(1);
  transition: 0.5s ease-in-out;
}
.picture > a > :hover {
  transform: translate(0, -5%) scale(1.1);
} */
/* Only ready for PC */
@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }

  .hello {
    font-size: 14rem;
    font-weight: 500;
    color: #2bb2ff;
    margin: 0;
    margin-left: -12px;
    padding: 0;
    line-height: 1.2;
  }
  .hello-span {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.75rem;
    font-weight: lighter;
    margin-bottom: 36px;
  }
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #14171b;
}

body::-webkit-scrollbar-thumb {
  background-color: #2bb2ff;
  border: 2px solid #14171b;
}
